/*Start main rulez*/
body
{
	background:#ddd;
	direction: ltr;
}
.container
{
	width:940px;
	margin:auto;
	background:#fff;
}
ul,ol
{
	margin:0;
	padding:0;
	list-style:none
}
/*End main rulez*/
/*Start header*/
header
{
	min-height:100px;
	background:#f6f6f6;
	overflow:hidden;
}
header.logo
{
	width:20%;
	float:right;
}
header .logo img
{
	width:80px;
	margin:20px 20px 20px 0;
}
header nav
{
	width:80%;
	float:left;
}
header nav ul
{
	margin:50px 50px 0 0;
	font-family: 'Fjalla One', sans-serif;
	font-size:20px;


}
header nav ul li
{
	display:inline-block;
	padding:10px;
	margin:5px;
}
/*End header*/
/*Start content*/
.content
{
	height:500px;
	background:#bbb;
	overflow:hidden;
}
.content .sidebar
{
	float:left;
	width:20%;
	margin-right:1%;
	background:#f6f6f6;
	height:500px;
}
.content .products
{
	float:right;
	width:79%;
  background:#2c2c2c;
	height:500px;

}
/*End content*/
/*Start footer*/
footer
{
	min-height:100px;
	background:#ccc;
}
footer .info
{
	height:100px;
	background:#676767;
}
footer .copyright
{
	height:20px;
	background:#333;
}
/*End footer*/
